html, body{
    height: 100%;
}
.wrap {
    min-height: 100%;
    display: flex;
}

.aside {
    background-color: rgb(36, 36, 73);
    width: 200px;
    padding-top: 40px;
}

h2 {
    color: #27BA9B;
    text-align: center;
}

.nav {
    padding-left: 10px;
    padding-top: 20px;
}

.nav li {
    padding-bottom: 40px;
}

.nav li a{
    color: white;
    white-space: nowrap;
    text-decoration: none;

}

.active {
    color: lightskyblue !important
}

.main {
    height: 100%;
    flex: 1;
}

.top-nav{
    height: 60px;
    border-bottom: 1px solid rgb(210,210,210);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.nav-item span{
    cursor: pointer;
    margin: 20px;
    margin-right: 0;
}

.card {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px
}

.card-title{
    padding-left: 20px;
    font-size: large;
    font: bold;
    position: relative;
    top: 50%;
    transform: translateY(50%); /* or try 50% */
    height: 50px;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.card-body{
    padding-top: 25px;
}

.form-control, .form-select, .form-cover{
    display: inline-block;
    width: auto;
    margin-top: 20px;
}

form > div{
    margin-top: 20px;
}

.cover .place{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 40px;
    line-height: 200px;
    border: 1px solid #ddd;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.cover img{
    width: 200px;
    height: 200px;
}

.cover .rounded{
    display: none;
}
.cover .show{
    display: inline-block;
}
.cover .hide{
    display: none;
}

.alert{
    width: 400px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10000;
  }
.show{
display: block;
}

#editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* If you need */
  }
#toolbar-container { border-bottom: 1px solid #ccc; }
#editor-container { height: 500px; }
  